---
import { z } from 'zod'
import { tagSchema } from '@/libs/schema'
import { getAnnotationsColor } from '@/components/notion/helper'

interface Props {
    class?: string
    tags: Array<z.infer<typeof tagSchema>>
}

const { tags, class: className } = Astro.props;
---
<div class={className}>
    <p class="text-xs space-x-2">
        {tags.map((tag, idx) => {
            const color: string = getAnnotationsColor(tag.color);
            return (
                <span class={color}># {tag.name}</span>
            )
        })}
    </p>
</div>
