---
import type { Post } from '@/types/content'
import { getSortedPosts } from '@/utils/content'
import PostCard from './PostCard.astro'

const list = await getSortedPosts()
---
<div class="grid grid-cols-1 gap-6 select-none">
    {list.map((item: Post) => (
        <PostCard entry={item} />
    ))}
</div>
