---
import { getEntry } from 'astro:content'
import Layout from '@/layouts/MainLayout.astro'
import PostDetail from '@/components/posts/PostDetail.astro'

const { slug } = Astro.params

if (void 0 === slug) {
    return Astro.redirect('/404');
}

const entry = await getEntry('blog', slug)

if (!entry) {
    return Astro.redirect('/404')
}

const title = `Post # ${entry.data.title.length > 0 ? entry.data.title : entry.id}`
---
<Layout title={title} description='There are my post.'>
    <div class="mx-auto max-w-3xl">
        <div class="mx-4">
            <h1 class="text-lg font-bold">{title}</h1>
        </div>
        <div class="select-none mx-4">
            <PostDetail entry={entry}/>
        </div>
    </div>
</Layout>
