---
import Layout from '@/layouts/MainLayout.astro';
import Link from '@/components/ui/Link.astro';
---
<Layout title='Posts' description='There are my posts.'>
    <div class="grid justify-items-end place-content-center min-h-inherit px-4 gap-2">
        <p class="uppercase tracking-widest">under construction</p>
        <p>
            <Link href="/">Go Back Home</Link>
        </p>
    </div>
</Layout>
