@import 'tailwindcss/theme.css';

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-red: 255 59 48;
    --color-orange: 255 149 0;
    --color-yellow: 255 204 0;
    --color-green: 52 199 89;
    --color-mint: 0 199 190;
    --color-teal: 48 176 190;
    --color-cyan: 50 173 200;
    --color-blue: 0 122 255;
    --color-indigo: 88 86 214;
    --color-purple: 175 82 222;
    --color-pink: 255 45 85;
    --color-brown: 162 132 94;
    --color-gray: 142 142 147;
    --color-gray2: 172 172 178;
    --color-gray3: 199 199 204;
    --color-gray4: 209 209 214;
    --color-gray5: 229 229 234;
    --color-gray6: 242 242 247;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-black: #fff;
        --color-white: #000;
        --color-red: 255 69 58;
        --color-orange: 255 175 113;
        --color-yellow: 255 214 10;
        --color-green: 48 209 88;
        --color-mint: 99 230 226;
        --color-teal: 64 200 244;
        --color-cyan: 100 210 255;
        --color-blue: 10 132 255;
        --color-indigo: 94 92 230;
        --color-purple: 191 90 242;
        --color-pink: 255 55 95;
        --color-brown: 172 142 104;
        --color-gray: 142 142 147;
        --color-gray2: 99 99 102;
        --color-gray3: 72 72 74;
        --color-gray4: 58 58 60;
        --color-gray5: 44 44 46;
        --color-gray6: 28 28 30;
    }
}

@theme {
    --color-black: rgb(var(--color-black));
    --color-white: rgb(var(--color-white));
    --color-red: rgb(var(--color-red));
    --color-orange: rgb(var(--color-orange));
    --color-yellow: rgb(var(--color-yellow));
    --color-green: rgb(var(--color-green));
    --color-mint: rgb(var(--color-mint));
    --color-teal: rgb(var(--color-teal));
    --color-cyan: rgb(var(--color-cyan));
    --color-blue: rgb(var(--color-blue));
    --color-indigo: rgb(var(--color-indigo));
    --color-purple: rgb(var(--color-purple));
    --color-pink: rgb(var(--color-pink));
    --color-brown: rgb(var(--color-brown));
    --color-gray: rgb(var(--color-gray));
    --color-gray2: rgb(var(--color-gray2));
    --color-gray3: rgb(var(--color-gray3));
    --color-gray4: rgb(var(--color-gray4));
    --color-gray5: rgb(var(--color-gray5));
    --color-gray6: rgb(var(--color-gray6));
}
