:root {
    color-scheme: dark light;
    --background: #ffffff;
    --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: 'GeistVF';
    src: url('/fonts/GeistVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'GeistVF', Arial, Helvetica, sans-serif;
}

.text-balance {
    text-wrap: balance;
}

@layer theme {
    .text-primary {
        color: rgba(var(--color-primary), 1);
    }
}

p svg, span svg, a svg {
    display: initial;
}

.fill-content {
    min-height: calc(100vh - 12rem);
}

.medium-zoom-image.medium-zoom-image--opened {
    border-radius: 0;
}
