@reference 'tailwindcss/theme.css';

@font-face {
    font-family: 'icon';
    font-display: swap;
    src: url('/fonts/icon/iconfont.eot');
    src: url('/fonts/icon/iconfont.eot#iefix') format('embedded-opentype'),
    url('/fonts/icon/iconfont.ttf') format('truetype'),
    url('/fonts/icon/iconfont.svg#icon') format('svg');
}

.icon {
    font-family: 'icon', serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-default {
    @apply text-red-600;
}

.icon-default:before {
    content: "!";
}

.icon-appreciate:before {
    content: "\e644";
}

.icon-check:before {
    content: "\e645";
}

.icon-close:before {
    content: "\e646";
}

.icon-edit:before {
    content: "\e649";
}

.icon-emoji:before {
    content: "\e64a";
}

.icon-favor:before {
    content: "\e64c";
}

.icon-loading:before {
    content: "\e64f";
}

.icon-location:before {
    content: "\e651";
}

.icon-phone:before {
    content: "\e652";
}

.icon-roundcheck:before {
    content: "\e657";
}

.icon-roundclose:before {
    content: "\e659";
}

.icon-roundright:before {
    content: "\e65b";
}

.icon-search:before {
    content: "\e65c";
}

.icon-time:before {
    content: "\e65f";
}

.icon-pdown:before {
    content: "\e661";
}

.icon-warn:before {
    content: "\e663";
}

.icon-camera:before {
    content: "\e665";
}

.icon-comment:before {
    content: "\e667";
}

.icon-like:before {
    content: "\e669";
}

.icon-notification:before {
    content: "\e66b";
}

.icon-same:before {
    content: "\e66e";
}

.icon-deliver:before {
    content: "\e671";
}

.icon-evaluate:before {
    content: "\e672";
}

.icon-pay:before {
    content: "\e673";
}

.icon-send:before {
    content: "\e675";
}

.icon-shop:before {
    content: "\e676";
}

.icon-cascades:before {
    content: "\e67c";
}

.icon-discover:before {
    content: "\e67e";
}

.icon-list:before {
    content: "\e682";
}

.icon-more:before {
    content: "\e684";
}

.icon-scan:before {
    content: "\e689";
}

.icon-settings:before {
    content: "\e68a";
}

.icon-question:before {
    content: "\e691";
}

.icon-form:before {
    content: "\e699";
}

.icon-pic:before {
    content: "\e69b";
}

.icon-footprint:before {
    content: "\e69d";
}

.icon-top:before {
    content: "\e69e";
}

.icon-pulldown:before {
    content: "\e69f";
}

.icon-pullup:before {
    content: "\e6a0";
}

.icon-refresh:before {
    content: "\e6a4";
}

.icon-moreandroid:before {
    content: "\e6a5";
}

.icon-refund:before {
    content: "\e6ac";
}

.icon-cart:before {
    content: "\e6af";
}

.icon-qrcode:before {
    content: "\e6b0";
}

.icon-remind:before {
    content: "\e6b2";
}

.icon-delete:before {
    content: "\e6b4";
}

.icon-profile:before {
    content: "\e6b7";
}

.icon-home:before {
    content: "\e6b8";
}

.icon-message:before {
    content: "\e6bc";
}

.icon-addressbook:before {
    content: "\e6bd";
}

.icon-roundlink:before {
    content: "\e6bf";
}

.icon-lock:before {
    content: "\e6c0";
}

.icon-unlock:before {
    content: "\e6c2";
}

.icon-vip:before {
    content: "\e6c3";
}

.icon-weibo:before {
    content: "\e6c4";
}

.icon-friendadd:before {
    content: "\e6ca";
}

.icon-friend:before {
    content: "\e6cc";
}

.icon-goods:before {
    content: "\e6cd";
}

.icon-present:before {
    content: "\e6d3";
}

.icon-vip1:before {
    content: "\e600";
}

.icon-squarecheck:before {
    content: "\e6d6";
}

.icon-round:before {
    content: "\e6d7";
}

.icon-roundadd:before {
    content: "\e6d9";
}

.icon-pup:before {
    content: "\e6de";
}

.icon-game:before {
    content: "\e6df";
}

.icon-redpacket:before {
    content: "\e6e0";
}

.icon-similar:before {
    content: "\e6e2";
}

.icon-info:before {
    content: "\e6e5";
}

.icon-forward:before {
    content: "\e6eb";
}

.icon-recharge:before {
    content: "\e6ed";
}

.icon-vipcard:before {
    content: "\e6ee";
}

.icon-voice:before {
    content: "\e6ef";
}

.icon-friendfavor:before {
    content: "\e6f1";
}

.icon-wifi:before {
    content: "\e6f2";
}

.icon-share:before {
    content: "\e6f3";
}

.icon-wefill:before {
    content: "\e6f4";
}

.icon-we:before {
    content: "\e6f5";
}

.icon-lightauto:before {
    content: "\e6f6";
}

.icon-lightforbid:before {
    content: "\e6f7";
}

.icon-camerarotate:before {
    content: "\e6f9";
}

.icon-light:before {
    content: "\e6fa";
}

.icon-barcode:before {
    content: "\e6fb";
}

.icon-searchlist:before {
    content: "\e6fe";
}

.icon-service:before {
    content: "\e6ff";
}

.icon-sort:before {
    content: "\e700";
}

.icon-down:before {
    content: "\e703";
}

.icon-mobile:before {
    content: "\e704";
}

.icon-mobilefill:before {
    content: "\e705";
}

.icon-copy:before {
    content: "\e706";
}

.icon-countdown:before {
    content: "\e708";
}

.icon-notice:before {
    content: "\e70a";
}

.icon-qiang:before {
    content: "\e70b";
}

.icon-upstage:before {
    content: "\e70f";
}

.icon-choiceness:before {
    content: "\e715";
}

.icon-clothes:before {
    content: "\e717";
}

.icon-creative:before {
    content: "\e719";
}

.icon-female:before {
    content: "\e71a";
}

.icon-male:before {
    content: "\e71c";
}

.icon-new:before {
    content: "\e71e";
}

.icon-pullleft:before {
    content: "\e71f";
}

.icon-pullright:before {
    content: "\e720";
}

.icon-rankfill:before {
    content: "\e721";
}

.icon-rank:before {
    content: "\e722";
}

.icon-roundyouhuifill:before {
    content: "\e6c5";
}

.icon-cameraadd:before {
    content: "\e724";
}

.icon-apps:before {
    content: "\e729";
}

.icon-refresharrow:before {
    content: "\e72d";
}

.icon-mark:before {
    content: "\e731";
}

.icon-album:before {
    content: "\e734";
}

.icon-repair:before {
    content: "\e738";
}

.icon-file:before {
    content: "\e739";
}

.icon-attention:before {
    content: "\e73d";
}

.icon-community:before {
    content: "\e741";
}

.icon-calendar:before {
    content: "\e74a";
}

.icon-tag:before {
    content: "\e752";
}

.icon-group:before {
    content: "\e753";
}

.icon-hotfill:before {
    content: "\e757";
}

.icon-hot:before {
    content: "\e758";
}

.icon-post:before {
    content: "\e759";
}

.icon-radiobox:before {
    content: "\e75b";
}

.icon-rounddown:before {
    content: "\e75c";
}

.icon-upload:before {
    content: "\e75d";
}

.icon-write:before {
    content: "\e761";
}

.icon-add:before {
    content: "\e767";
}

.icon-move:before {
    content: "\e768";
}

.icon-safe:before {
    content: "\e769";
}

.icon-crown:before {
    content: "\e777";
}

.icon-sponsor:before {
    content: "\e77d";
}

.icon-my:before {
    content: "\e78b";
}

.icon-zfbpay:before {
    content: "\e63b";
}

.icon-qqpay:before {
    content: "\e6a1";
}

.icon-text:before {
    content: "\e791";
}

.icon-goodsfavor:before {
    content: "\e794";
}

.icon-musicfill:before {
    content: "\e795";
}

.icon-musicforbidfill:before {
    content: "\e796";
}

.icon-qq:before {
    content: "\e65d";
}

.icon-android:before {
    content: "\e701";
}

.icon-circle:before {
    content: "\e7b1";
}

.icon-attentionforbid:before {
    content: "\e7b3";
}

.icon-attentionfavor:before {
    content: "\e7b5";
}

.icon-roundvip:before {
    content: "\e6fc";
}

.icon-update:before {
    content: "\e62e";
}

.icon-full:before {
    content: "\e7bc";
}

.icon-mail:before {
    content: "\e7bd";
}

.icon-peoplelist:before {
    content: "\e7be";
}

.icon-goodsnew:before {
    content: "\e7c0";
}

.icon-medal:before {
    content: "\e7c2";
}

.icon-newshot:before {
    content: "\e7c5";
}

.icon-news:before {
    content: "\e7c6";
}

.icon-video:before {
    content: "\e7c8";
}

.icon-weixin:before {
    content: "\e653";
}

.icon-ask:before {
    content: "\e7ca";
}

.icon-exit:before {
    content: "\e7cb";
}

.icon-skin:before {
    content: "\e7cd";
}

.icon-usefull:before {
    content: "\e7d0";
}

.icon-moneybag:before {
    content: "\e7d1";
}

.icon-dian:before {
    content: "\e62c";
}

.icon-subscription:before {
    content: "\e7d4";
}

.icon-link1:before {
    content: "\e63f";
}

.icon-link:before {
    content: "\e66c";
}

.icon-dlink:before {
    content: "\e66f";
}

.icon-pleft:before {
    content: "\e7e0";
}

.icon-zhekou:before {
    content: "\e60a";
}

.icon-shuju4:before {
    content: "\e655";
}

.icon-duijiefill:before {
    content: "\e688";
}

.icon-shuju:before {
    content: "\e74b";
}

.icon-shuju1:before {
    content: "\e967";
}

.icon-duijie:before {
    content: "\e619";
}

.icon-wxpay:before {
    content: "\e604";
}

.icon-roundyouhui:before {
    content: "\e670";
}

.icon-apple:before {
    content: "\e87e";
}

.icon-rown:before {
    content: "\e60e";
}

.icon-shuju2:before {
    content: "\e6e6";
}

.icon-shuju3:before {
    content: "\e61f";
}

.icon-pright:before {
    content: "\e87f";
}

.icon-laba:before {
    content: "\e647";
}

.icon-vip2:before {
    content: "\e968";
}

.icon-vip3:before {
    content: "\e969";
}
