.theme-1 {
    --color-primary-1: 230, 239, 247;
    --color-primary-2: 183, 208, 232;
    --color-primary-3: 141, 179, 217;
    --color-primary-4: 103, 150, 201;
    --color-primary-5: 69, 124, 186;
    --color-primary-6: 40, 98, 171;
    --color-primary-7: 25, 75, 140;
    --color-primary-8: 14, 54, 110;
    --color-primary-9: 6, 35, 79;
    --color-primary-10: 4, 21, 48;
    /* 69, 124, 186; */
    --color-primary: 26 76 130;
    --color-primary-text: 103, 150, 201;
    --color-primary-shadow: 230, 239, 247;
}

.dark .theme-1 {
    --color-primary-1: 10, 15, 23;
    --color-primary-2: 21, 31, 46;
    --color-primary-3: 33, 48, 69;
    --color-primary-4: 47, 66, 92;
    --color-primary-5: 62, 85, 115;
    --color-primary-6: 85, 110, 138;
    --color-primary-7: 114, 137, 161;
    --color-primary-8: 145, 164, 184;
    --color-primary-9: 180, 194, 207;
    --color-primary-10: 213, 218, 222;
    --color-primary: 85, 110, 138;
    --color-primary-text: 114, 137, 161;
    --color-primary-shadow: 33, 48, 69
}

.theme-2 {
    --color-primary-1: 255, 228, 222;
    --color-primary-2: 242, 189, 177;
    --color-primary-3: 227, 149, 134;
    --color-primary-4: 212, 113, 95;
    --color-primary-5: 196, 79, 61;
    --color-primary-6: 181, 48, 31;
    --color-primary-7: 150, 31, 18;
    --color-primary-8: 120, 18, 8;
    --color-primary-9: 89, 8, 2;
    --color-primary-10: 59, 5, 2;
    --color-primary: 196, 79, 61;
    --color-primary-text: 212, 113, 95;
    --color-primary-shadow: 255, 228, 222;
}

.dark .theme-2 {
    --color-primary-1: 23, 10, 10;
    --color-primary-2: 46, 21, 19;
    --color-primary-3: 69, 34, 30;
    --color-primary-4: 92, 48, 43;
    --color-primary-5: 115, 64, 57;
    --color-primary-6: 138, 89, 81;
    --color-primary-7: 161, 116, 108;
    --color-primary-8: 184, 145, 138;
    --color-primary-9: 207, 180, 174;
    --color-primary-10: 230, 215, 211;
    --color-primary: 138, 89, 81;
    --color-primary-text: 161, 116, 108;
    --color-primary-shadow: 69, 34, 30
}
