@keyframes page-old {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes page-new {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

::view-transition-old(root) {
    animation: 300ms ease-out both page-old;
}

::view-transition-new(root) {
    animation: 300ms ease-in both page-new;
}
