---
import Link from '@/components/ui/Link.astro';
import FooterInfo from '@/components/common/FooterInfo.astro';
---
<footer>
    <div class="mx-auto py-4 px-8 max-w-7xl">
        <p><Link href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank"
                 rel="noopener noreferrer">CC BY-NC-ND 4.0</Link></p>
        <p>Copyright &copy; 2025 <Link href="https://github.com/Truimo" target="_blank">Truimo</Link>. All
            Rights Reserved.</p>
        <FooterInfo server:defer />
    </div>
</footer>
