---
import Link from '@/components/ui/Link.astro'
import FooterInfo from '@/components/common/FooterInfo.astro'
---
<footer class="text-sm">
    <div class="mx-auto py-4 px-8 max-w-7xl">
        <p>Copyright &copy; 2025 <Link href="https://github.com/Truimo" target="_blank">Truimo</Link>. Licensed under <Link href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" rel="noopener noreferrer">CC BY-NC-ND 4.0</Link></p>
        <FooterInfo />
    </div>
</footer>
