---

---
<div class="group relative w-full min-w-0" data-hide-print="true">
    <div class="relative w-full">
        <div class="overflow-hidden" style="height: 293.5px;">
            <div class="overflow-hidden">
                <form class="flex flex-col space-y-4 px-2 pt-2">
                    <div
                            class="flex flex-col space-x-0 space-y-4 md:flex-row md:space-x-4 md:space-y-0"
                    >
                        <input
                                class="min-w-0 flex-auto appearance-none rounded-lg border ring-accent/20 duration-200 sm:text-sm lg:text-base px-3 py-[calc(theme(spacing.2)-1px)] placeholder:text-zinc-400 focus:outline-none focus:ring-2 border-border focus:!border-accent/80 focus:!bg-accent/5 dark:text-zinc-200 dark:placeholder:text-zinc-500 font-sans w-full bg-gray-200/50 dark:bg-zinc-800/50"
                                required=""
                                placeholder="昵称 *"
                                type="text"
                                value=""
                                name="author"
                        />
                        <input
                                class="min-w-0 flex-auto appearance-none rounded-lg border ring-accent/20 duration-200 sm:text-sm lg:text-base px-3 py-[calc(theme(spacing.2)-1px)] placeholder:text-zinc-400 focus:outline-none focus:ring-2 border-border focus:!border-accent/80 focus:!bg-accent/5 dark:text-zinc-200 dark:placeholder:text-zinc-500 font-sans w-full bg-gray-200/50 dark:bg-zinc-800/50"
                                required=""
                                placeholder="邮箱 *"
                                type="text"
                                value=""
                                name="mail"
                        /><input
                            class="min-w-0 flex-auto appearance-none rounded-lg border ring-accent/20 duration-200 sm:text-sm lg:text-base px-3 py-[calc(theme(spacing.2)-1px)] placeholder:text-zinc-400 focus:outline-none focus:ring-2 border-border focus:!border-accent/80 focus:!bg-accent/5 dark:text-zinc-200 dark:placeholder:text-zinc-500 font-sans w-full bg-gray-200/50 dark:bg-zinc-800/50"
                            placeholder="网址"
                            type="text"
                            value=""
                            name="url"
                    />
                    </div>
                    <div
                            class="relative h-[150px] w-full rounded-xl bg-gray-200/50 dark:bg-zinc-800/50"
                    >
                        <div
                                class="group relative h-full border ring-0 ring-accent/20 duration-200 [--spotlight-color:oklch(var(--a)_/_0.12)] rounded-xl border-transparent dark:text-zinc-200 dark:placeholder:text-zinc-500 pb-8"
                        >
                            <textarea
                                    class="size-full resize-none bg-transparent overflow-auto px-3 py-4 !outline-none text-neutral-900/80 dark:text-slate-100/80 rounded-xl"
                                    placeholder="或许此地可以留下足迹"></textarea>
                        </div>
                    </div>
                    <footer
                            class="mt-3 flex h-5 min-w-0 items-center justify-between absolute bottom-4 left-0 right-4 mb-2 ml-2 w-auto px-4"
                    >
                        <span
                                class="flex-1 select-none text-[10px] text-zinc-500 transition-opacity"
                        ><span class="hidden md:inline"
                        >支持 <b>Markdown</b> 与 <span
                                role="note"
                                class="inline-block !inline"
                        ><span class="inline items-center font-sans"
                        ><a
                                class="shiro-link--underline"
                                href="https://docs.github.com/zh/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax"
                                target="_blank"
                                rel="noreferrer">GFM</a
                        ><i
                                class="i-mingcute-arrow-right-up-line translate-y-[2px] opacity-70"
                        ></i></span
                        ></span
                        ></span
                        ><button
                                type="button"
                                aria-haspopup="dialog"
                                aria-expanded="false"
                                aria-controls="radix-:r23:"
                                data-state="closed"
                        ><div
                                role="button"
                                tabindex="0"
                                class="center ml-0 inline-flex shrink-0 text-xs md:ml-4"
                        >(☆▽☆)<span class="sr-only">颜文字</span>
                                </div></button
                        ></span>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
