---
import Layout from '@/layouts/RootLayout.astro';
import Link from '@/components/ui/Link.astro';
---
<Layout>
    <div class="grid justify-items-end h-screen place-content-center px-4 gap-2">
        <p class="uppercase tracking-widest">404 | Not Found</p>
        <p>
            <Link href="/">Go Back Home</Link>
        </p>
    </div>
</Layout>
