---
interface Excerpt {
    content: string
    title?: string
}

interface Props {
    data: Excerpt
}

const { data } = Astro.props;
---
<blockquote class="excerpt py-3 px-4">
    <p class="mb-2">{data.content}</p>
    <p class="text-sm text-right">Form: {data.title}</p>
</blockquote>

<style>
.excerpt {
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #333333;
    background-color: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
    .excerpt {
        border-left-color: #3b434b;
        background-color: #252527;
    }
}
</style>
