---
import type { CollectionEntry } from 'astro:content'
import { render } from 'astro:content'
import Link from '@/components/ui/Link.astro'
import DateTime from './DateTime.astro'
import DiaryImages from './DiaryImages'

interface Props {
    diary: CollectionEntry<'diary'>
}

const { diary } = Astro.props

const { Content } = await render(diary)
---
<article class="article rounded-xl p-3.5 bg-zinc-600/5 dark:bg-zinc-500/20">
    <DiaryImages class="mb-3" images={diary.data.images} client:visible />
    <Content />
    <div class="flex items-center justify-between gap-6">
        <div class="text-gray-800 text-xs text-left dark:text-gray-300">
            <p><Link href={`/diary/${diary.id}`}>Read More.</Link></p>
        </div>
        <div>
            <DateTime date={diary.data.time} />
        </div>
    </div>
</article>

<style is:global>
.article {
    width: fit-content;
    max-width: 100%;
    font-size: 15px;
}

.article > p {
    margin: calc(var(--spacing) * 3) 0;
    line-height: 1.75;
}

@media screen and (max-width: 576px) {
    .article {
        font-size: 13px;
    }
}
</style>
