---
import type { Post } from '@/types/content'
import { getSortedDiary } from '@/utils/content'
import DiaryCard from '@/components/diary/DiaryCard.astro'

const list = await getSortedDiary()
---
<div class="grid grid-cols-1 gap-6 select-none">
    {list.map((item: Diary) => (
        <DiaryCard diary={item} />
    ))}
</div>
