---
import { getSortedDiary } from '@/utils/content'
import Layout from '@/layouts/MainLayout.astro'
import DiaryDetail from '@/components/diary/DiaryDetail.astro'

export const prerender = true

export async function getStaticPaths() {
    const posts = await getSortedDiary()

    return posts.map((entry) => ({
		params: { slug: entry.id },
		props: { entry },
	}))
}

const { entry } = Astro.props

/*
const { slug } = Astro.params

if (void 0 === slug) {
    return Astro.redirect('/404')
}

const entry = await getEntry('diary', slug)

if (!entry) {
    return Astro.redirect('/404')
}
*/

const title = `Diary # ${entry.data.title.length > 0 ? entry.data.title : entry.id}`
---
<Layout title={title} description='There are my diary.'>
    <div class="mx-auto max-w-3xl">
        <div class="mx-4">
            <p class="text-lg font-bold">{title}</p>
        </div>
        <div class="select-none mx-4">
            <DiaryDetail diary={entry}/>
        </div>
    </div>
</Layout>
