---
import Layout from '@/layouts/MainLayout.astro';
import {queryDiaryListCached} from '@/libs/notion';
import DiaryList from '@/components/diary/DiaryList.astro';

const list = await queryDiaryListCached();
---
<Layout title='Diary' description='There are my diary.'>
    <div class="mx-auto max-w-3xl">
        <div class="mx-4">
            <p class="text-2xl font-bold">Latest Diary💫</p>
        </div>
        <div class="select-none mx-4 mt-4">
            <DiaryList list={list} />
        </div>
    </div>
</Layout>
