---
import Layout from '@/layouts/MainLayout.astro';

const list = [
    {
        content: '我是否喜欢谁，与谁喜不喜欢我，半颗铜钱的关系都没有!就像……，就像山看水，水流山还在，喜欢之人，只管远去，我只管喜欢。',
        title: '剑来',
    }, {
        content: '世界上有太多孤独的人，害怕先踏出第一步。',
        title: '绿皮书',
    }, {
        content: '遇事不决，可问春风，春风不语，即随本心。',
        title: '剑来',
    }, {
        content: '道理全在书上，做人却在书外。',
        title: '剑来',
    }, {
        content: '“我们笑着说再见 却深知再见遥遥无期。”',
        title: '海上钢琴师',
    }, {
        content: '我们仰望同一片天空 却看着不同的地方。',
        title: '秒速五厘米',
    }, {
        content: '我从没有因为住在哪里而自卑，也没有太多地想过贫穷，我知道我们不富裕，但我感觉我没有错过任何东西。',
        title: '怦然心动',
    }, {
        content: '这短短的一生，我们最终都会失去，你何不大胆一点，爱一个人，攀一座山，追一个梦。',
        title: '大鱼海棠',
    }, {
        content: '遇见的都是天意，拥有的都是幸运，世界上有一千种等待，最好的那种叫“未来可期”。',
        title: '宫崎骏',
    }
]
---
<Layout title='Excerpts' description='Here are some excerpts.'>
    <div class="mx-auto max-w-3xl">
        <div class="mx-4">
            <p class="text-2xl font-bold">Excerpts</p>
        </div>
        <div class="select-none mx-4 mt-4">
            <div class="space-y-6">
                {list.map((it) => (
                    <blockquote class="excerpt py-3 px-4">
                        <p class="mb-2">{it.content}</p>
                        <p class="text-sm text-right">Form: {it.title}</p>
                    </blockquote>
                ))}
            </div>
        </div>
    </div>
</Layout>

<style>
.excerpt {
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #333333;
    background-color: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
    .excerpt {
        border-left-color: #3b434b;
        background-color: #252527;
    }
}
</style>
