---
import type {HTMLAttributes} from 'astro/types';
import Link from '@/components/ui/Link.astro'
import TotalPageViews from './TotalPageViews.astro';

interface Props extends HTMLAttributes<'p'> {
    class?: string
}

const {
    class: className
} = Astro.props;
---
<p class={className}>
    Writing with <Link href="https://github.com/truimo-dev/Echoes" target="_blank">Echoes</Link>. <TotalPageViews />
</p>
