---
import Icon from '@/components/ui/Icon.astro'
import MousePointerClick from '@lucide/astro/icons/mouse-pointer-click'
---
<page-views>
    <span class="print:hidden"><MousePointerClick size="1em" />&nbsp;Total page views&nbsp;<span class="views-count">-</span></span>
</page-views>

<script>
import { ofetch } from 'ofetch'

class PageViews extends HTMLElement {
    connectedCallback() {
        const view = this.querySelector('.views-count')
        ofetch('/api/views', {
            priority: 'low',
            headers: { accept: 'application/json' }
        }).then((data) => {
            if (null !== view) {
                requestAnimationFrame(() => {
                    view.textContent = data.views
                })
            }
        })
    }
}

customElements.define('page-views', PageViews)
</script>
