---
import {kvKeys} from '@/constant/kv'
import {redis} from '@/libs/redis'
import Icon from '@/components/ui/Icon.astro'

import { VERCEL_ENV } from 'astro:env/server'

const views: number = VERCEL_ENV === 'production' ?
    await redis.incr(kvKeys.totalPageViews) : 261101
---
<span><Icon name="friend"/>&nbsp;Total page views&nbsp;{views}</span>
