---
import RootLayout from './RootLayout.astro';
import Header from '@/components/layout/Header.astro';
import Footer from '@/components/layout/Footer.astro';

interface Props {
	title?: string;
	description?: string;
	keywords?: Array<string>;
}

const {
    title, description, keywords,
} = Astro.props;
---
<RootLayout title={title} description={description} keywords={keywords}>
    <Header />
    <main class='fill-content mx-4'>
        <slot />
    </main>
    <Footer />
</RootLayout>
