---
import '@fontsource/inter';

import Head from '@/components/common/Head.astro';
import SayHi from '@/components/common/SayHi.astro';
import Preload from '@/components/common/Preload.astro';
import Analytics from '@/components/common/Analytics.astro';

import '@/styles/index.css';

interface Props {
	title?: string;
	description?: string;
	keywords?: Array<string>;
}

const {
    title, description, keywords,
} = Astro.props;

const locale = Astro.currentLocale ?? 'en';
---
<!doctype html>
<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=yes" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/avatar.jpg" />
		<Head title={title} description={description} keywords={keywords} />
		<Preload />
		<Analytics />
	</head>
	<body class="antialiased theme-1">
        <slot />
        <SayHi />
	</body>
</html>
